# Core functionality - changes here should be rare!
/src/app.py                   @Teamooer
/src/backend/database.py      @Teamooer
/src/backend/routers/auth.py  @Teamooer

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Teamooer
